---
layout: default
title: Crowded
subtitle: A community of geeks; we geek out about everything
body_class: landing-page
---
<div class="section">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="title">Crowded</h2>
      <h5 class="description">
        Welcome to <strong>Crowded</strong>! We're a community of geeks who just wanted a digital place to hang out with other
        geeks and talk about what we love. As our community grows, you'll find many different conversations topics. We are certain
        you'll find someone who loves to geek-out about the same things you do.
      </h5>
    </div>
  </div>

  <div class="features">
    <div class="row">
      <div class="col-lg-4">
        <div class="info info-horizontal">
          <div class="icon icon-info">
            <i class="material-icons">videogame_asset</i>
          </div>
          <div class="description">
            <h4 class="info-title">Gaming</h4>
            <p>
              There is a lot of Destiny 2 talk going on, but there are also people playing Fortnite, PUBG, and many other games.
            </p>
          </div>
        </div>

        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">code</i>
          </div>
          <div class="description">
            <h4 class="info-title">Programming</h4>
            <p>
              Whether you want to throw some ideas off someone else, discuss something you found interesting, or simply join in
              on the banter of the Ruby vs PHP debate we collectively have over 20 years of programming experience. (But we
              won't do your homework for you!)
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="info">
          <iframe src="https://discordapp.com/widget?id=405451434641850369&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
          <div class="text-center">
            <h4>
              What are you waiting for?
              <br/>
              Join us on
              <a href="https://discord.gg/eXjMzcp" target="_blank" rel="nofollow">Discord</a>
              today!
              <br/>
              <small>We tried Slack and it ate all of our computer's memory</small>
            </h4>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="info info-horizontal">
          <div class="icon icon-success">
            <i class="material-icons">explore</i>
          </div>
          <div class="description">
            <h4 class="info-title">Space</h4>
            <p>
              We're fans of the final frontier! We reguraly watch live streams of SpaceX launches and even on occasion get
              together to watch past launches together on YouTube.
            </p>
          </div>
        </div>

        <div class="info info-horizontal">
          <div class="icon icon-warning">
            <i class="material-icons">live_tv</i>
          </div>
          <div class="description">
            <h4 class="info-title">Television</h4>
            <p>
              We're living in the second golden age of television and we're here to talk about it all! We have fans of science
              fiction, Game of Thrones, Rick and Morty and more! If you don't find a channel, tell an admin and we'll get it
              created for you!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h2 class="title text-center">Here's our team</h2>
  <div class="team">
    <div class="row">
      {% for member in site.team %}
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="row">
              <div class="col-md-5">
                <div class="card-header card-header-image">
                  <a href="#{{ member.aka | downcase }}">
                    <img class="img" src="{{ member.avatar }}">
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h4 class="card-title">{{ member.name }}</h4>
                  <h6 class="category">
                    <span class="text-muted">{{ member.aka }}</span> |
                    <span class="text-success">{{ member.role }}</span>
                  </h6>
                  <div class="card-description text-left">{{ member.bio }}</div>
                </div>

                <div class="card-footer justify-content-center">
                  {%- if member.social.twitter -%}
                  <a href="https://twitter.com/{{ member.social.twitter }}" class="btn btn-just-icon btn-link btn-twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  {%- endif %}

                  {%- if member.social.github -%}
                  <a href="https://github.com/{{ member.social.github }}" class="btn btn-just-icon btn-link btn-github" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                  {%- endif %}

                  {%- if member.social.instagram -%}
                  <a href="https://instagram.com/{{ member.social.instagram}}" class="btn btn-just-icon btn-link btn-instagram" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                  {%- endif %}

                  {%- if member.social.stackoverflow -%}
                  <a href="https://stackoverflow.com/users/{{ member.social.stackoverflow}}" class="btn btn-just-icon btn-link btn-stack-overflow" target="_blank">
                    <i class="fa fa-stack-overflow"></i>
                  </a>
                  {%- endif %}

                  {%- if member.social.web -%}
                  <a href="{{ member.social.web}}" class="btn btn-just-icon btn-link" target="_blank">
                    <i class="fa fa-cloud"></i>
                  </a>
                  {%- endif %}

                  {%- if member.social.youtube -%}
                  <a href="http://www.youtube.com/user/{{ member.social.youtube }}" class="btn btn-just-icon btn-link btn-youtube" target="_blank">
                    <i class="fa fa-youtube"></i>
                  </a>
                  {%- endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>



{% for post in paginator.posts %}
  <div class="col-md-6">
    <div class="card card-raised card-background" style="background-image: url('/assets/img/examples/office2.jpg')">
      <div class="card-content">
        <h6 class="category text-info">{{ post.category }}</h6>
        <a href="{{ post.url }}">
          <h3 class="card-title">{{ post.title }}</h3>
        </a>
        <p class="card-description">{{ post.excerpt | strip_html | truncatewords: 32 }}</p>
        <a href="{{ post.url }}" class="btn btn-danger btn-round">
          <i class="material-icons">format_align_left</i> Read Article
        </a>
      </div>
    </div>
  </div>
{% endfor %}

{% include pagination.html %}
