<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="{{ '/' | relative_url }}">Home</a>
        </li>
        <!-- <li>
          <a href="{{ '/about/' | relative_url }}">About</a>
        </li> -->
      </ul>
    </nav>

    <div class="copyright pull-right">
      <small>
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>
        Crowded Community. All rights reserved.
      </small>
    </div>
  </div>
</footer>
