<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

  <title>{{page.title}}</title>

  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:image" content="https://crowded.group/assets/img/crowded.png">
  <meta property="og:url" content="https://crowded.group{{page.url}}">

  <meta property="description" content="{{page.description}}">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-eAVkiER0fL/ySiqS7dXu8TLpoR8d9KRzIYtG0Tz7pi24qgQIIupp0fn2XA1H90fP" crossorigin="anonymous"></script>

  <!-- CSS Files -->
  <link rel="stylesheet" href="{{ '/assets/css/material-kit.min.css?v=2.0.3' | relative_url }}"/>
</head>

<body class="{{page.body_class}}">
  {% include navigation.html %}
  {% include header.html %}
  <div class="main main-raised">
    <div class="container">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
</body>

<!--   Core JS Files   -->
<script src="{{ '/assets/js/core/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/core/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap-material-design.js' | relative_url }}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="{{ '/assets/js/plugins/moment.min.js' | relative_url }}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{ '/assets/js/plugins/bootstrap-datetimepicker.min.js' | relative_url }}"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ '/assets/js/plugins/nouislider.min.js' | relative_url }}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{{ '/assets/js/plugins/bootstrap-selectpicker.js' | relative_url }}"></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{{ '/assets/js/plugins/bootstrap-tagsinput.js' | relative_url }}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ '/assets/js/plugins/jasny-bootstrap.min.js' | relative_url }}"></script>
<!--	Plugin for Small Gallery in Product Page -->
<script src="{{ '/assets/js/plugins/jquery.flexisel.js' | relative_url }}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{{ '/assets/js/material-kit.js?v=2.0.3' | relative_url }}"></script>
</html>
